@model ListViewModel
@{
    ViewBag.Title = "Anasayfa";
}

<section class="price_list__list">
    <div class="price_list__list_header">
        <h1>@DateTime.Now.Year Fiyat Listesi</h1>
    </div>
    <div id="priceList" class="price_list">
        @foreach (var vehicleListItem in Model.VehicleListResponses)
        {
            var vehicleListItemIndex = Model.VehicleListResponses.IndexOf(vehicleListItem);
            var activeClass = vehicleListItemIndex == 0 ? "card-active" : "";

            <a href="vehicledetails/@vehicleListItem.Id" class="price_list__box @activeClass">
                <div class="price_list__logo_content">
                    <img src="img/logo/@vehicleListItem.ImageName-logo.svg" class="logo-edit" alt="class-logo">
                </div>
                <div class="price_list__img_content">
                    <img src="img/cross/@(vehicleListItem.ImageName).png" alt="class-cross">
                </div>
            </a>
        }
    </div>
</section>